@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.button {
  padding: 1.2rem;
}

.button.middle-blue {
  background: #00e8fc;
  color: #0f101a;
}

.button.primary {
  background: #121420;
}

.font.weight400 {
  font-weight: 400;
}

.font.weight500 {
  font-weight: 500;
}

.font.weight600 {
  font-weight: 600;
}

.font.weight700 {
  font-weight: 700;
}

.middle-blue {
  background: #00e8fc;
}

.grey {
  background: #bdc3c7;
}

.primary {
  background: #121420;
}

.primary-dark {
  background: #0f101a;
}

.white {
  background: white;
}

.card {
  height: 250px;
  width: 150px;
}

.button.black {
  width: 10%;
  border: 1px solid #00e8fc;
}

.button.black:hover {
  color: #0f101a;
  background-color: #00e8fc;
}

.button.blue {
  width: 10%;
  border: none;
}

.button.blue:hover {
  color: #0f101a;
  background-color: #00e8fc;
}

.header {
  background: #121420;
  height: 100vh;
}

@media (max-width: 599px) {
  .header {
    background: #121420;
  }
}

@media (min-width: 600px) {
  .header {
    background: #121420;
    overflow-x: hidden;
  }
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 12em;
  font-size: 0.875rem;
}

@media (max-width: 599px) {
  .header .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header .nav .logo_smile {
  height: 50px;
  width: 50px;
}

.header .nav .logo_smile:hover {
  color: yellow;
}

.header .nav .navbar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

.header .nav .navbar .nav-element {
  padding: 1rem 1.2rem;
}

.header .nav .navbar .nav-element:last-of-type {
  padding-right: 0;
}

.header .nav .navbar .nav-element a {
  text-decoration: none;
}

.header .nav .navbar .nav-element .link {
  color: white;
}

.header .nav .navbar .nav-element .link:hover {
  color: #0f101a;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  height: 100vh;
  padding: 0.8rem 9em;
}

.header .hero_frame {
  position: relative;
  margin-right: 10rem;
  margin-left: 4rem;
  height: 460px;
  width: 292px;
}

.header .hero_frame:hover .overlay {
  opacity: 0;
}

.header .hero_pic {
  position: relative;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-right: 3px solid #00e8fc;
  border-bottom: 3px solid #00e8fc;
  -webkit-transition: all 0s linear;
  transition: all 0s linear;
}

.header .hero_pic:hover {
  border-width: 5px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.header .hero_line {
  width: 50px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.header .hero_name {
  font-size: 6rem;
  line-height: 1.1;
}

.header .hero_work {
  color: #bdc3c7;
  padding-top: 1.5rem;
  font-size: 2rem;
}

.header .hero_contact_container {
  padding-top: 4rem;
}

.header .hero_contact_img {
  padding-right: 3rem;
}

.header .hero_github {
  height: 24px;
  width: 24px;
}

.header .hero_instagram {
  height: 24px;
  width: 24px;
}

.header .hero_twitter {
  height: 24px;
  width: 24px;
}

.header .hero_linkedin {
  height: 24px;
  width: 24px;
}

.explore {
  background: #0f101a !important;
  color: white;
  padding: 1rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.explore_heading {
  font-size: 3rem;
  padding-bottom: 1rem;
  padding-top: 3rem;
}

.explore_line {
  width: 45px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.explore .explore_introduction {
  font-size: 2rem;
  padding-top: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00e8fc;
}

.explore_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.explore_about .about_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
}

.explore_desc {
  font-size: 1.5rem;
}

.tools {
  background: #121420 !important;
  color: white;
  padding: 1rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.tools_heading {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

.tools_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tools .presenting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: -12rem;
  padding-bottom: 10rem;
}

.tools_tech {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.tools_tech .techno {
  width: 100%;
  height: 100%;
}

.tools_heading {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.tools_line {
  width: 40px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.tools_vector {
  height: 100%;
}

.project {
  background: #121420 !important;
  color: white;
  padding: 1rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.project_featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 2rem;
}

.project .feature_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 2rem;
  padding-bottom: 4rem;
}

.project .feature_card .imaage {
  width: 500px;
  height: 400px;
}

.project .feature_card .feature_body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 2.5rem;
  color: #00e8fc;
}

.project .feature_card .feature_body .feature_topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .feature_card .feature_body .feature_topic .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project .feature_card .feature_body .feature_topic .right_link {
  width: 60px;
  height: 60px;
  padding-right: 1rem;
}

.project .feature_card .feature_body1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 2.5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 3rem;
  color: #00e8fc;
}

.project .feature_card .feature_body1 .feature_topic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project .feature_card .feature_body1 .feature_topic .head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project .feature_card .feature_body1 .feature_topic .right_link {
  width: 60px;
  height: 60px;
  padding-right: 1rem;
}

.project .feature_card .feature_content {
  padding-top: 1rem;
  font-size: 1.3rem;
  color: white;
}

.project_heading {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.project_line {
  width: 40px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.project .feature_heading .feature {
  font-size: 2rem;
  color: #00e8fc;
}

.project .feature_tools {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.project .feature_tools .tech_icons {
  list-style-type: none;
}

.project .feature_tools .list_icons {
  display: initial;
  padding-right: 1.5rem;
}

.project .feature_tools .node_icon {
  height: 80px;
  width: 80px;
}

.project_other {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .other_cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.project .other_card {
  margin-top: 2rem;
  margin-right: 2rem;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #0f101a;
  width: 42vh;
  height: 55vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .other_card:last-of-type {
  margin-right: 0rem;
}

.project .other_card .other_heading {
  font-size: 2rem;
}

.project .other_card .other_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.project .other_card .imaage {
  width: 2.5rem;
  height: 2.5rem;
}

.project .other_card .other_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project .other_card .other_content .other_heading {
  padding-bottom: 2rem;
}

.project .other_card .other_body {
  font-size: 1rem;
}

.project .other_tools {
  -ms-flex-line-pack: end;
      align-content: flex-end;
}

.project .other_tools .tech_icons {
  list-style-type: none;
}

.project .other_tools .list_icons {
  display: initial;
  padding-right: 1.5rem;
}

.project .other_tools .node_icon {
  height: 80px;
  width: 80px;
}

.get_in_touch {
  background: #0f101a !important;
  color: white;
  padding: 1rem 20rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.get_in_touch .social_icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.get_in_touch .contact_heading {
  padding-top: 3rem;
  padding-bottom: 1rem;
  font-size: 3rem;
}

.get_in_touch .social_contact_container {
  padding-top: 4rem;
}

.get_in_touch .social_contact_img {
  padding-left: 3rem;
}

.get_in_touch .social_github {
  height: 45px;
  width: 45px;
}

.get_in_touch .social_instagram {
  height: 45px;
  width: 45px;
}

.get_in_touch .social_twitter {
  height: 45px;
  width: 45px;
  color: white;
}

.get_in_touch .social_linkedin {
  height: 45px;
  width: 45px;
}

.footer {
  background: #0f101a !important;
  color: white;
  padding: 1rem 20rem;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer span {
  color: #00e8fc !important;
}
/*# sourceMappingURL=page.css.map */