@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
.button {
  padding: 1.2rem;
}

.button.middle-blue {
  background: #00e8fc;
  color: #0f101a;
}

.button.primary {
  background: #121420;
}

.font.weight400 {
  font-weight: 400;
}

.font.weight500 {
  font-weight: 500;
}

.font.weight600 {
  font-weight: 600;
}

.font.weight700 {
  font-weight: 700;
}

.middle-blue {
  background: #00e8fc;
}

.grey {
  background: #d1ccdc;
}

.primary {
  background: #121420;
}

.primary-dark {
  background: #0f101a;
}

.white {
  background: white;
}

.card {
  height: 250px;
  width: 150px;
}

.button.black {
  width: 10%;
  border: 1px solid #00e8fc;
}

.button.black:hover {
  color: #0f101a;
  background-color: #00e8fc;
}

.button.blue {
  width: 10%;
  border: none;
}

.button.blue:hover {
  color: #0f101a;
  background-color: #00e8fc;
}

.header {
  background: #121420;
  height: 100%;
}

.header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.8rem 9em;
  font-size: 0.875rem;
}

.header .nav .logo_smile {
  height: 50px;
  width: 50px;
}

.header .nav .logo_smile:hover {
  color: yellow;
}

.header .nav .navbar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1rem;
}

.header .nav .navbar .nav-element {
  padding: 1rem 1.2rem;
}

.header .nav .navbar .nav-element:last-of-type {
  padding-right: 0;
}

.header .nav .navbar .nav-element a {
  text-decoration: none;
}

.header .nav .navbar .nav-element .link {
  color: white;
}

.header .nav .navbar .nav-element .link:hover {
  color: #0f101a;
}

.header .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  height: 100vh;
  padding: 0.8rem 9em;
}

.header .hero_frame {
  position: relative;
  margin-right: 10rem;
  margin-left: 4rem;
  height: 460px;
  width: 292px;
}

.header .hero_frame:hover .overlay {
  opacity: 0;
}

.header .hero_pic {
  position: relative;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  padding-right: 1rem;
  padding-bottom: 1rem;
  border-right: 3px solid #00e8fc;
  border-bottom: 3px solid #00e8fc;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.header .hero_pic:hover {
  border-width: 5px;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.header .hero_line {
  width: 50px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.header .hero_name {
  font-size: 6rem;
  line-height: 1.1;
}

.header .hero_work {
  color: #d1ccdc;
  padding-top: 1.5rem;
  font-size: 2rem;
}

.header .hero_contact_container {
  padding-top: 4rem;
}

.header .hero_contact_img {
  padding-right: 3rem;
}

.header .hero_github {
  height: 24px;
  width: 24px;
}

.header .hero_instagram {
  height: 24px;
  width: 24px;
}

.header .hero_twitter {
  height: 24px;
  width: 24px;
}

.header .hero_linkedin {
  height: 24px;
  width: 24px;
}

.explore {
  background: #0f101a !important;
  color: white;
  padding: 0.8rem 9em;
}

.explore_heading {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.explore_line {
  width: 40px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.explore_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  height: 100%;
  width: 100%;
}

.explore_introduction {
  font-size: 2rem;
  padding-top: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #00e8fc;
}

.explore_about {
  width: 50%;
}

.explore_desc {
  font-size: 1.5rem;
}

.tools {
  background: #121420 !important;
  color: white;
  padding: 0.8rem 9em;
}

.tools_heading {
  font-size: 3rem;
  padding-bottom: 1rem;
}

.tools_line {
  width: 40px;
  -ms-flex-line-pack: left;
      align-content: left;
  border: 3.2px solid #00e8fc;
  border-radius: 3px;
}

.tools_intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  height: 100%;
  width: 100%;
}

.tools_vector {
  width: 50%;
}

.tools_laptop {
  margin-top: 20rem;
}

.tools_tech {
  margin-left: -21rem;
  margin-bottom: 10rem;
}

.tools_about {
  width: 50%;
}
/*# sourceMappingURL=page.css.map */